@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #F2D0DD;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 60px;
    align-items: center;
}

nav a {
    font-weight: 600;
    font-size: 115%;
    padding-right: 20px;
}

nav a:hover {
    color: #593312;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0;
    }
}

.inicio {
    display: flex;
    align-items: center;
    margin: 70px;
    justify-content: space-between;
}

.inicio__derecha img {
    height: 250px;
    max-width: 100%;
    border-radius: 2%;
}

.inicio__izquierda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;

}

.inicio__imagen {
    height: 220px;
    max-width: 100%;
}

.inicio__parrafo {
    margin: 0 0 30px 0;
    position: relative;
    top: -60px;
    text-align: justify;
    width: 700px;
    font-size: 20px;
}

.inicio__button {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    top: -30px;
    background-color: #F285AD;
    color: white;
    border: none;
    width: 150px;
    height: 50px; 
    font-weight: bold;
    font-size: 17px;
}

.sobrenosotros { 
    background-color: white; 
    display: flex; 
    align-items: center; 
} 

.sobrenosotros__derecha { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    flex: 1; 
    flex-basis: 60%; 
    gap: 20px; 
    width: 100%; 
    text-align: center;
    padding: auto;
    margin: auto;
} 

.sobrenosotros__parrafo { 
    text-align: justify;
    max-width: 600px;
    font-size: 20px;
} 

.sobrenosotros__izquierda { 
    display: flex; 
    flex: 1; 
    order: -1; 
    padding: 80px; 
    align-items: flex-start; 
    flex-basis: 40%; } 

.sobrenosotros__izquierda img { 
    width: 350px; 
    border-radius: 2%; }